@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #4f506f;
  overflow-x: hidden;
}


/* 
.shiny-effect {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  background: radial-gradient(circle, rgba(29, 53, 113, 0.2), transparent 70%);
} */





/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #4F506F inset;
  box-shadow: 0 0 0px 1000px #4F506F inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}